<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quick.auth.mapper.RolePermissionMapper">

    <insert id="batchInstall">
        INSERT INTO <include refid="com.quick.auth.mapper.SomeSqlMapper.role_permission"/>
        (role_id, permission_id)
        VALUES
        <foreach collection="list" item="rp" separator=",">
            (#{rp.roleId} , #{rp.permissionId})
        </foreach>
    </insert>

    <delete id="delete">
        DELETE FROM <include refid="com.quick.auth.mapper.SomeSqlMapper.role_permission"/> WHERE role_id = #{roleId}
    </delete>
</mapper>
