<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quick.auth.mapper.RoleMapper">

    <sql id="Base_Column_List">
        id, role_id, name, description, status, can_delete, create_time, update_time
    </sql>

    <select id="findRoles" resultType="com.quick.auth.entity.Role">
        SELECT
        <include refid="Base_Column_List"/>
        FROM <include refid="com.quick.auth.mapper.SomeSqlMapper.role"/>
        WHERE status = #{status}
        <if test="name != null and name != '' and name!='null' ">
            AND name LIKE concat('%', #{name}, '%')
        </if>
        AND serve_name = ${serveName}
    </select>

    <select id="findRolesWhetherExistByRoleNameOrRoleId" resultType="java.lang.Integer">
        SELECT count(id) FROM <include refid="com.quick.auth.mapper.SomeSqlMapper.role"/>
        WHERE name = #{name} AND status = #{status}
        <if test="roleId != null">
            AND role_id != #{roleId}
        </if>
        AND serve_name = ${serveName}
    </select>

    <select id="findRolesThatCannotDeletedByRoleId" resultType="com.quick.auth.entity.Role">
        SELECT
        <include refid="Base_Column_List"/>
        FROM <include refid="com.quick.auth.mapper.SomeSqlMapper.role"/>
        WHERE
        can_delete = #{notCanDelete}
        <if test="roleIds != null and roleIds.size > 0">
            AND role_id IN
            <foreach collection="roleIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND serve_name = ${serveName}
    </select>

    <insert id="insertRole">
        INSERT INTO <include refid="com.quick.auth.mapper.SomeSqlMapper.role"/>
        (
        <if test="id != null">
            id,
        </if>
        <if test="roleId != null and roleId != ''">
            role_id,
        </if>
        <if test="name != null and name != ''">
            name,
        </if>
        <if test="description != null and description != ''">
            description,
        </if>
        <if test="status != null">
            status,
        </if>
        <if test="canDelete != null">
            can_delete,
        </if>
        create_time,
        update_time,
        serve_name
        )
        VALUES(
        <if test="id != null">
            #{id},
        </if>
        <if test="roleId != null and roleId != ''">
            #{roleId},
        </if>
        <if test="name != null and name != ''">
            #{name},
        </if>
        <if test="description != null and description != ''">
            #{description},
        </if>
        <if test="status != null">
            #{status},
        </if>
        <if test="canDelete != null">
            #{canDelete},
        </if>
        now(),
        now(),
        ${serveName}
        )
    </insert>

    <update id="updateStatusBatch" parameterType="map">
        UPDATE
        <include refid="com.quick.auth.mapper.SomeSqlMapper.role"/>
        SET
        status=#{status}, update_time=now()
        WHERE
        role_id IN
        <foreach collection="roleIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND serve_name = ${serveName}
    </update>

    <update id="updateByRoleId">
        UPDATE
        <include refid="com.quick.auth.mapper.SomeSqlMapper.role"/>
        SET
        <if test="id != null">
            id = #{id},
        </if>
        <if test="roleId != null and roleId != ''">
            role_id = #{roleId},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_time = now()
        WHERE
        role_id = #{roleId}
        AND serve_name = ${serveName}
    </update>

</mapper>
